@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
    background-color: whitesmoke;
}

.loading_section{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #e50914;
    border-color: #e50914 transparent #e50914 transparent;
    animation: loading 1.2s infinite;
}


